@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: 'Malgun Gothic';
}

html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

header, section, article, main, nav, aside, footer {
	display: block;
}

header:after, section:after, article:after, main:after, nav:after, aside:after,
	footer:after {
	content: "";
	display: block;
	clear: both;
}

.clear {
	clear: both;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button{
	background: inherit ; 
	border:none; 
	box-shadow:none; 
	border-radius:0; 
	padding:0; 
	overflow:visible;
	 cursor:pointer;
} 

.text_hide {
	display: inline-block;
	text-indent: -9999px;
}

body {
	font-size: 16px;
    font-weight: bold;
    color: #213421;
}


#together {
	background-color: #f2e2ca;
	width: 100%; 
	height: 200px;
	vertical-align: middle;
	padding: 20px 0;
	text-align: center;
	
}

#together ul{
	width:80%; 
	height:160px;
	margin:0 auto;



}
#together ul li {
	height:100%;
	width:25%;
	border-radius: 16px;
	background-color:#ffffff;
	display: inline-block;
	vertical-align: middle;
	margin-right:20px;
	text-align: left;
	padding:10px;
	
}

#category_wrap{
	width: 73%;
	margin:100px auto;
	min-height: 600px;
}

#category_wrap #category {
	width:15%;
	display:inline-block;
}

#category_wrap #category b{
	height:100px;
	font-size:30px;
}

#category_wrap #category table{
	padding: 25px 0;
}

#category_wrap #category table tr td{
	font-weight: bold;
	line-height: 50px;
	width:200px;
}

#category_wrap #category table tr td a {
  margin-bottom: 10px;
}

#category_wrap #category table tr td a span {
  position: relative;
  font-weight: bold;
  color: #243421;
}
span::after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0px;
  background: rgba(255, 201, 5, 0.5);
}
a:hover span::after {
  width: 100%;
  transition: width .3s;
}

#order_wrap{
	display:inline-block;
	width:78%;
}

#order_wrap .member_name{
	text-align: center;
	vertical-align:top;
	
	margin-bottom: 50px;
}

.under__line{
	border-bottom: 2px solid #243421;
	font-weight: bold;
}

.order_foreach{
	height:100px;
}


.select_btn{
	width: 97px;
    padding: 3px 5px;
    margin: 10px 0 0;
    border-radius: 5px;
}

.sum_money {
    padding-top: 10px;
    margin-bottom: 10px;
}

#admin_btn{
	width:100%;
	height:50px;
}

#admin_btn tr{
	text-align: center;
}


#admin_btn tr td a{
	border-radius: 4px;
    font-size: 14px;
    padding: 12px 30px;
    background-color: #213421;
    transition: all 0.3s;
    color:#ffffff;
}

#admin_btn tr td a:hover{
	 background-color: #649E64;
}
